<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="Siberiawolf" />
    <meta name="renderer" content="webkit">
    <meta name="description" content="Siberiawolf的小窝" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="/css/default.min.css" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>

    <div class="home-menu">
        <div class="home-icon-con">
            <a class="home-menu-icon" href="/">Siberiawolf</a>
            <a class="home-follow" href="#" title="Contact Me">+</a>
        </div>
        <div class="home-contact">
            <a href="https://github.com/siberiawolf" target="_blank">
                <div class="github"></div>
            </a>
            <a href="http://weibo.com/siberiawolf0307/" target="_blank">
                <div class="weibo"></div>
            </a>
            <a href="https://twitter.com/siberiawolf0307" target="_blank">
                <div class="twitter"></div>
            </a>
            <a href="https://www.facebook.com/siberiawolf0307" target="_blank">
                <div class="facebook"></div>
            </a>
        </div>
    </div>

    {{ content }}
    <script type="text/javascript">
        $(function(){
            $('.home-follow').click(function(e){        // 左侧悬浮点击      
                e.preventDefault();

                if($('.home-contact').is(':visible')){
                    $('.home-contact').hide();
                }else{
                    $('.home-contact').show();
                }
            });
        });
    </script>
    <!-- 百度统计代码 start -->
    <script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F1248d51f06841e8dda82405c280d6597' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <!-- 百度统计代码 end -->

    <!-- google ads start -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- siberiawolf's blog -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:336px;height:280px"
         data-ad-client="ca-pub-8951512384424151"
         data-ad-slot="8225643621"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <!-- google ads end -->

</body>
</html>
