---
layout:           default
---

{{ content }}
<!-- 首页JS -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function(){
        function animateBar($item,noAni){       // 首页导航动画
            var spanLeft = $item.find('span').offset().left,
                conLeft = $item.parent().offset().left,
                left = spanLeft - conLeft,
                width = $item.find('span').width() + 8;         // 横条比字体略宽

            noAni ? $('#cateBar').css({left:left,width:width}) : $('#cateBar').stop().animate({left:left,width:width},300);

        }

        // 鼠标悬浮下方出现横条
        $('.artical-cate li').mouseenter(function(){
            animateBar($(this));
        }).mouseleave(function(){
            animateBar($('.artical-cate .on'));
        });

        animateBar($('.artical-cate .on'),true); // 初始化
    });
</script>