---
layout: default
---

<link rel="stylesheet" href="http://siberiawolf.qiniudn.com/js/prettify/prettify.css" />
<style type="text/css">
    body { background:#e8e8e8; }
    @media screen and (max-width: 750px){
        body { background:#fff; }
    }
    @media screen and (max-width: 1020px){
        body { background:#fff; }
    }
</style>

<div id="content">
    <div class="entry">
        <h1 class="entry-title"><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h1>
        <p class="entry-date">{{ page.date|date:"%Y-%m-%d" }}</p>
        {{ content }}
        <div id="disqus_container">
            <a href="javascript:void(0);" onclick="toggleDuoshuoComments('#comment-box', '{{ page.title }}', 'http://siberiawolf.com/{{ page.url }}');">点击查看评论</a>
            <div id="comment-box"></div>
        </div>        
    </div>

    <div class="sidenav">
        <iframe width="100%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=2313100327&verifier=d53cef72&dpc=1"></iframe>
    </div>

    <div class="sidenav">
        <h2>技术</h2>
        <ul class="artical-list">
        {% for post in site.categories.blog%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        
        <h2>生活</h2>
        <ul class="artical-list">
        {% for post in site.categories.opinion%}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>

        <h2>项目</h2>
        <ul class="artical-list">
            <li><a href="/free_programming/index.html">免费的编程中文书籍索引</a></li>
            <li><a href="/frontend_knowledge/index.html">前端知识结构图</a></li>
        </ul>
    </div>
</div>
<script src="http://libs.baidu.com/jquery/1.7.1/jquery.min.js"></script>
<!-- 多说公共JS代码 start -->
<script>var duoshuoQuery = {short_name:"siberiawolf"};</script>
<script src="http://static.duoshuo.com/embed.js"></script>
<script type="text/javascript">
function toggleDuoshuoComments(container, id, url){
  if(jQuery(container).has("div").length>0){
    jQuery(container).empty();
    return;
  }
  var el = document.createElement('div');
  el.setAttribute('data-thread-key', id);
  el.setAttribute('data-url', url);
  DUOSHUO.EmbedThread(el);
  jQuery(container).append(el);
}
</script>
<!-- 多说公共JS代码 end -->
